.mud-cal-total-cell {
  background-color: var(--mud-palette-table-striped);
  border-left: 2px solid var(--mud-palette-table-lines);
}

.mud-cal-total {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 8px;
}

.mud-cal-total-value {
  text-align: right;
  white-space: nowrap;
}