@page "/"
@using Heron.MudCalendar

<DocsPage>
    <DocsPageHeader Title="MudTotalCalendar"
                    SubTitle="A calendar component for displaying numerical data with totals."/>

    <DocsPageContent>

        <DocsPageSection>
            <MudTotalCalendar T="CalendarItem" Values="BuildTestData()"/>
        </DocsPageSection>

        <DocsPageSection>
            <SectionHeader Title="Getting Started"/>
            <SectionSubGroups>

                <DocsPageSection>
                    <SectionHeader Title="Setup MudBlazor">
                        <Description>
                            <p class="my-4">
                                MudTotalCalendar relies on MudBlazor. Follow the installation instructions for
                                <MudLink Href="https://mudblazor.com/getting-started/installation" Target="_blank">
                                    <b>MudBlazor</b>
                                </MudLink>
                                .
                            </p>
                        </Description>
                    </SectionHeader>
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Install the package">
                        <Description>
                            Once your project is setup with MudBlazor you can install the MudTotalCalendar nuget
                            package.
                        </Description>
                    </SectionHeader>
                    <SectionCode>
                        <pre>dotnet add package Heron.MudTotalCalendar</pre>
                    </SectionCode>
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Add Imports">
                        <Description>
                            Add the following to
                            <CodeInline>_Imports.razor</CodeInline>
                            .
                        </Description>
                    </SectionHeader>
                    <SectionCode>
                        <pre>@@using Heron.MudTotalCalendar</pre>
                    </SectionCode>
                </DocsPageSection>

                <DocsPageSection>
                    <SectionHeader Title="Add style and script references (optional)">
                        <Description>
                            This step shouldn't be necessary as the component injects the references into the page as
                            needed. However if you find
                            that calendar is not displaying properly then add the following to your
                            <CodeInline>index.html</CodeInline>
                            or
                            <CodeInline>_Layout.cshtml</CodeInline>
                            /
                            <CodeInline>_Host.cshtml</CodeInline>
                        </Description>
                    </SectionHeader>
                    <SectionCode>
                        <pre><span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">link</span> <span
                                class="htmlAttributeName">href</span><span class="htmlOperator">=</span><span
                                class="quot">"</span><span class="htmlAttributeValue">_content/Heron.MudCalendar/Heron.MudCalendar.min.css</span><span
                                class="quot">"</span> <span class="htmlAttributeName">rel</span><span
                                class="htmlOperator">=</span><span class="quot">"</span><span
                                class="htmlAttributeValue">stylesheet</span><span class="quot">"</span> <span
                                class="htmlTagDelimiter">/&gt;</span></pre>
                        <pre><span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">link</span> <span
                                class="htmlAttributeName">href</span><span class="htmlOperator">=</span><span
                                class="quot">"</span><span class="htmlAttributeValue">_content/Heron.MudTotalCalendar/Heron.MudTotalCalendar.min.css</span><span
                                class="quot">"</span> <span class="htmlAttributeName">rel</span><span
                                class="htmlOperator">=</span><span class="quot">"</span><span
                                class="htmlAttributeValue">stylesheet</span><span class="quot">"</span> <span
                                class="htmlTagDelimiter">/&gt;</span></pre>
                        ...
                        <pre><span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">script</span> <span
                                class="htmlAttributeName">type</span><span class="htmlOperator">=</span><span
                                class="quot">"</span><span class="htmlAttributeValue">module</span><span
                                class="quot">"</span> <span class="htmlAttributeName">src</span><span
                                class="htmlOperator">=</span><span class="quot">"</span><span
                                class="htmlAttributeValue">_content/Heron.MudCalendar/Heron.MudCalendar.min.js</span><span
                                class="quot">"</span><span class="htmlTagDelimiter">&gt;</span><span
                                class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">/script</span><span
                                class="htmlTagDelimiter">&gt;</span></pre>
                    </SectionCode>

                    <DocsPageSection>
                        <SectionHeader Title="Add to page">
                            <Description>
                                Add the MudTotalCalendar component to your razor page/component.
                            </Description>
                        </SectionHeader>
                        <SectionCode>
                            <pre><span class="htmlTagDelimiter">&lt;</span><span class="htmlElementName">MudTotalCalendar</span> <span
                                    class="htmlAttributeName">T</span><span class="T">=</span><span
                                    class="quot">"</span><span class="htmlAttributeValue">CalendarItem</span><span
                                    class="quot">"</span><span class="htmlTagDelimiter">/&gt;</span></pre>
                        </SectionCode>
                    </DocsPageSection>

                </DocsPageSection>

            </SectionSubGroups>
        </DocsPageSection>

    </DocsPageContent>
</DocsPage>